* {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.nanum-myeongjo-regular {

    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;

}


.main-container {

    display: flex;
    flex-direction: row;

}

/* Right Column */
.content {

    display: flex;
    flex-direction: column;

}

/* Left Column */

.background-image-logo {

    background-image: url(images/marra-m7fT6OreZfI-unsplash.jpg);
    background-size: cover;  /* Ensures the background covers the entire div. */
    background-position: center;  /*Centers the background image */
    position: relative; /* Because we need to overlay the copyright and logo sections on this . */
    height: 100vh;
    width: 100vw;

}

#copyright{

    position: absolute; /* places the copyright texts and links over the image*/
    bottom: 2%;
    left: 50%;
    transform: translate(-50%); /* Makes sure that the text stay at the center*/
    color: white;
    
}

div.logo{

    position:absolute;
    /* Makes sure that the text stay at the center*/ 
    bottom: 50%; 
    left: 50%;
    transform:translate(-50%, 50%); 
    /* Streches to fill the background image and gives provides the adjust the background to contain the logo*/
    width: 100%;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.3);
    /* Centers the logo inside the transparent background.*/
    display: flex;
    align-items: center;
    justify-content: center;

}



#logo {
    height: 20vh;
    width: 10vw;
}

.header {

    height: calc(100vh / 3);
    box-sizing: border-box;
    text-align: center;
    background-color: #fffdcd;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10Vh;
    font-size: 1em;
    overflow: hidden;
}



.header p {

    color: #604e12;

}
    

.button {
    padding-left: 10vw; /* The submit button aligns with the the rest of the form content */ 

}


div.form-items {

    /* We use flex to organize the form items into two columns */
    display: flex;
    flex-direction: row;
    gap:5vh;
}

.column-1, .column-2 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.column-2 {

    padding-right: 2vw;
}


footer {
    flex-grow: 1;
    background-color: #ff9c48;

}

legend {
    font-weight: bold;
    float: left;
    margin-bottom: 1em;
    width: 100%
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding-left: 10vw;
}

form {

    display: flex;
    flex-direction: column;
    margin-top: 5vh;  /* Prevents the form to appear right after the header content */ 
    gap: 5vh;

}

input {

    height: 2rem;
    width: 20rem;
    border-radius: 5px;
    border-color: antiquewhite;

}

label {

    display: block;

}


button{

    border-radius: 0.25rem;
    width: 10rem;
    height: 2rem;
    background-color:#604e12;
    border: solid #604e12;
    color: white;

}

button:hover{

    color:wheat; 

}

.button p {

    margin-bottom: 3vh;
    margin-top: 2vh;

}

a {

    color:orange;

}

a:active {

    color: orange;

}

a:hover {

    color: #604e12;

}